<section class="product-details" *ngIf="product">
  <div class="product-details__card">
    <mat-card class="">
      <mat-card-header>
        <mat-card-title>{{ product?.title }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="product?.image" [alt]="product?.title" />
      <mat-card-content>
        <p>{{ product?.description }}</p>
        <div>
            <span class="price">Price: {{ product?.price }}</span>
            <span class="category">Category: {{ product?.category }}</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>
<div class="loader" *ngIf="!product">
    <mat-spinner></mat-spinner>
</div>
