:host ::ng-deep {
    .mat-toolbar {
        display: flex;
    }
    .logo {
        margin-right: auto;
    }
    .container {
        display: flex;
        width: 100%;
        max-width: 1200px;
        margin: auto;
        height: 100%;
        align-items: center;
        justify-content: space-around;
    }
}